<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
	<test thread-count="5" name="Gold Loan">
		<classes>
			<class name="Test.Intro"> 
				<methods>
					<include name="Demo"/>
				</methods>
			</class>
			<class name="Test.Next"/>
			<class name="Test.Loans"/>
		</classes>
	</test>
	<test thread-count="5" name="Loan Details">
		<classes>
			<class name="Test.PersonalLoan">
				<methods>
					<exclude name="API.*"/>
				</methods>
			</class>
			
		</classes>
	</test>
	
</suite>	
 
